// variables
$primary-color: #008fe2;
$secondary-color: #2d529f;
$light-blue: #1999e3;
$dark-blue: #2c4b8f;
$gray-color:#777777;
$light-gray:#eee;
$dark-color: #1d2127;
$light-color: white;
$text-color: #333;
$main-font:'Arial', sans-serif;
