.about{
     padding: 40px;
     height:55vh;
     margin-top: 50px;


.section-title{
        width:70%;
        height:30vh;
        h6{
        font-size:19px;
        padding-bottom: 20px;
        font-weight: 300;
        }  
}

 &__image{
    margin-top: -150px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-left:800px;
    img {
      width:100%;
    } 
}}
