.header {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: $light-color;

  div {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img{
    width:100%;
  }

  &__img {
    width:15%;
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
    }
    li {
      a {
        font-size:12px;
      }
    }
  }
}
